*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    color: ivory;
    cursor: none;
}

.tilt 
{
    height: 100%;
    width: 100%;
    display: flex;
        justify-content: center;
        align-items: center;
}

.audioButton {
    width: 100px;
    height: 100px;
    color: ivory;
    stroke: ivory;
    opacity: 0;
    /* background-color: blue; */
}

.custom-cursor {
    position: absolute;
    border-radius: 100%;
    width: .5rem;
    /* Adjust the width of your custom cursor image */
    height: .5rem;
    /* Adjust the height of your custom cursor image */
    background-color: ivory;
    pointer-events: none;
    z-index: 10000;
    box-shadow: .1rem .1rem 1rem rgb(255, 148, 148);
        /* Add a box shadow to create the shadow effect */
    /* Make sure the custom cursor doesn't interfere with mouse interactions */
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

video
{
    display: none;
}

.overlay
{
    /* background-color: black; */
    /* opacity: 50%; */
    position: absolute;
    backdrop-filter: blur(100px);
    /* background-color: black; */
    width: 100%;
    height: 100%;
    z-index: 1000;
    font-size: 1.5rem;
    font-family: 'Gloock', helvetica;
    letter-spacing: .2rem;
    text-shadow: .1rem .1rem 1rem rgb(198, 117, 117);
}

.miscContainer 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.titleText
{
    /* position: absolute; */
    /* width: 100%; */
    font-size: 10rem;
    text-align: center;
    /* padding: 1rem;
    border: solid ivory .1rem; */
}

.scrollAndEnterContainer
{
    display: flex;
    /* background-color: blue; */
}

.enterButton {
    border: solid ivory 0.07rem;
    /* border-radius: 1rem; */
    position: relative;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    width: 8rem;
    overflow: hidden;
    color: ivory;
    text-shadow: none;
    margin: 1rem;
}

.enterButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 240, 0.034);
    box-shadow: 0.1rem 0.1rem 1rem rgb(255, 148, 148);
    text-shadow: 0.1rem 0.1rem 1rem rgb(198, 117, 117);
    transition: width 0.3s ease-in-out;
}

/* Apply the hover effect */
.enterButton:hover::before {
    width: 100%;

}

.scrollInstructions
{
    font-size: .8rem;
    text-align: center;
    /* background-color: yellow; */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scrollIconTop
{
    color: ivory;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid ivory;
    margin: .3rem;
    animation: bounceTop 1.5s infinite alternate;
}

.scrollIconBottom
{
    color: ivory;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid ivory;
    margin: .3rem;
    animation: bounceBottom 1.5s infinite alternate;
}

@keyframes bounceTop
{
    0%
    {
        transform: translateY(0);
    }
    100%
    {
        transform: translateY(-2px);
    }
}

@keyframes bounceBottom
{
    0%
    {
        transform: translateY(0);
    }
    100%
    {
        transform: translateY(2px);
    }
}

.slideContainer
{   
    position: fixed;
    bottom: 4rem;
    margin: .1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    /* width: 100%; */
    /* Add a smooth transition for the rotation effect */
    transition: transform 0.2s;
    width: 90%;

}

.slideTopRightInfo 
{
    position: fixed;
    top: 4rem;
    right: 4rem;
    font-size: .8rem;    
}

.slideDate
{
 
}

.slideTitle
{
    display: none;
    font-size: 10rem;
    text-decoration: underline .1rem;
    text-align: center;
    text-transform: uppercase;
    /* background-color: yellow; */
}

.slideDescription
{
    display: none;
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .05rem;
    /* background-color: blue;  */
    /* width: 95%; */
}

.char {
    transform: translateY(300px);
    transition: transform .5s;
}

@media (max-width: 1550px) {
    .titleText {
        font-size: 5rem;
    }
    .slideContainer {
        /* bottom: 4rem; */
    }
    .slideTitle {
        font-size: 8rem;
    }
    .slideDescription {
        font-size: .75rem;
    }
}

@media (max-width: 820px) {
    .titleText {
        font-size: 3rem;
    }
    .slideTitle {
        font-size: 5rem;
    }
    .slideDescription {
        font-size: .75rem;
    }
}


@media (max-width: 530px) {
    .titleText {
        font-size: 2rem;
    }
    .slideTitle {
        font-size: 3rem;
    }
    .slideDescription {
        font-size: .5rem;
    }
}

@media (max-width: 350px) {
    .titleText {
        font-size: 1rem;
    }
    .slideTitle {
        font-size: 3rem;
    }
    .slideDescription {
        font-size: .5rem;
    }
}

.mobileLOL
{
    /* color: black; */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}